@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,400;0,500;0,600;0,900;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
/* .fancy {
  border-radius: 37% 63% 27% 73% / 38% 63% 37% 62%;
}
.fancy-2 {
  border-radius: 40% 38% 31% 33% / 40% 41% 44% 43%;
} */
