@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,400;0,500;0,600;0,900;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.lightShadow {
  box-shadow: 0 0 10px #0f172a45;
}
.darkShadow {
  box-shadow: 0 0 10px #fff;
}
